:host  {
    position: relative;
    background-color:var(--black-blue-color);
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color:var(--light-color);
    gap:  20px;
    font-size: 18px;
}
.title > a{
    color: var(--light-color);
}


.wrapNavItems{
    display: none;
    position: absolute;
    top:70px;
    background-color:var(--dark-color) ;
}
.link:hover  ,   .wrapNavItems{
    display: block;

}
