.popular_header {
  display: flex;
  height: 40px;
  width: 100%;
  align-items: center;
  gap: 20px;
  .popular_title {
    font-size: 34px;
  }
}
.popular_radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  gap:5px;
  align-items:center;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid var(--black-blue-color);
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);

  font-size: 20px;

  & .popular_radio {
    flex: 1 1 auto;
    text-align: center;
  }

  & .popular_radio input {
    display: none;
  }

  & .popular_radio .popular_input-name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    border: none;
    padding: 0.5rem 10px;
    color: var(--black-blue-color);
    transition: all 0.15s ease-in-out;
  }

  & .popular_radio input:checked + .popular_input-name {
    background-color: var(--black-blue-color);
    color: var(--light-color);
    font-weight: 600;
  }
}
