<section
  class="section_banner"
  [style.background]="
    bannerImg
      ? 'url(' + bannerImg + ')'
      : 'linear-gradient(rgba(0, 123, 255, 0.6), rgba(0, 123, 255, 0.616))'
  "
>
  <div class="bannerWrap">
    <div>
      <h1 class="banner_title">CineMate — твой проводник в мире кино.</h1>
      <h2 class="banner_title_description">
        Сотни историй, тысячи героев. Начни путешествие сейчас.
      </h2>
    </div>
    <form class="banner_form_search">
      <input type="text" placeholder="Найти фильм, сериал,персону...." />
      <button type="submit">Поиск</button>
    </form>
  </div>
</section>
<section class="section_popular">
  <app-content-switcher [contentItems]="contentSwitcher[0]" (selectionChange)="onTrendsSelected($event)"></app-content-switcher>

  @if (popularList) {
  <div class="popular_poster-list">
    @for (item of popularList; track $index) {
    <app-poster-item [listPoster]="item"></app-poster-item>
    }
  </div>
  }
</section>

<section class="section_genres">
  @for(genre of genresList;track genre){
      <app-genre-item [genres]="genre"></app-genre-item>
  }

</section>

<section class="section_popular">
  <app-content-switcher [contentItems]="contentSwitcher[1]" (selectionChange)="onPopularSelected($event)"></app-content-switcher>

  @if (trendsList) {
  <div class="popular_poster-list">
    @for (item of trendsList; track $index) {
    <app-poster-item [listPoster]="item"></app-poster-item>
    }
  </div>
  }
</section>
